<!DOCTYPE html>
<html lang="zh-Hant-TW">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="format-detection" content="telephone=no">
		<title>FE TEMPLATE!</title>
		<meta itemprop="name" content="Dr.Signal">
		<meta name="description" content="...">
		<meta name="keywords" content="Dr.Signal">
		<meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
		<meta itemprop="description" content="...">
		<meta property="og:title" content="Dr.Signal">
		<meta property="og:description" content="..." >
		<meta property="og:url" content="">
		<meta property="og:type" content="">
		<meta property="og:image" content="" >
		<!-- Project main css -->
		<link type="text/css" rel="stylesheet" href="/css/vendor/bootstrap.min.css">
		<link type="text/css" rel="stylesheet" href="/css/main.css">
	</head>
	<body>